/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Utseende på sidan */
body {
background-image: url(./bilder/jelleke-vanooteghem-qfRsevOtQXE-unsplash.jpg);
}
/* Utseende på boxen */
div {
width: 700px;
background-color: blanchedalmond;
margin: 40px auto auto auto;
padding: 50px;
border-radius: 10px;
box-shadow: 5px 5px 20px #111111;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

ul {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    margin-left: 30px;
    list-style-type: circle;
}

li {

}

