body {
    background: #0E204D url("./Bilder/flow.png");
    background-position: center top;
}
table {
width: 600px;
background-color: white;
border-collapse: collapse   ;
font-size: 13px sans-serif;
margin-right: auto;
margin-left: auto;
}
caption{ 
background: #12326E;
color: white;
padding: 15px;
font-weight: bold;
text-transform: uppercase;
}

tr:nth-child(2) {
background:#E73088
}

tr:nth-child(odd){
background: #F5F5F5;
}
tr:nth-child(1){
    background: #12326E;
    color: white;
}
 th,td {
    padding: 10px;
}
 img {
 width: 15px;
 }