/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}



body {
background-color: #D1D1D1;


}

table {
width: 1000px;
margin: 100px auto auto ;
background: white;
border-collapse: collapse;

}
thead {
    background-color: #36304A;
    color: #F2FFFF;
    width: auto;
    font-size: 15px;
}

td:hover {
    color: #484848;
    background: #6C7AE0;
}

.tablekropp {
text-align: center;
}
td {
    color: #111111;
    width: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    text-align: center;

}

th {
    padding: 20px 60px;
}