/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body {
background-image: url(./Bilder/Backgrund\ We\ will\ rock\ you.jpg);
background-size: cover;
color: white;
margin-right: 50%;
margin-bottom: 20px;

}
h1 {
margin-bottom: 40px;
}
h2{
    margin-bottom: 20px;
    margin-top: 20px;
}
p {
    margin-bottom: 20px;
}
br {
    margin-bottom: 10px;
}
img {
    margin-left: ;
}
li {
 margin-bottom: 20px;   
}