html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body, html {
    height: 100%;

    
    background-image: url("./bilder/RobotContact.jpg");
  
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background:#002a46bd; 
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background:#64BEFA;
    color: var(--light);
}

.kontainer {
    width: 600px ;
    margin: 50px auto auto auto;
    padding: 30px ;
    background:#0097FA;
    font-family: monospace;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
    }

    .kontainer h2 {
    font-size: 70px;
    color: white;
    }

    .kontainer p {
    margin: 20px;
    font-size: 20px;
    color: white;
    }

    .kontainer form {
    display: grid;
    grid-gap: 10px;
    }

    .kontainer form label {
    font-size: 20px;
    color: white;
    }


    footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
 }
 img {
     
 }