body {
background-color: black;
}


h1 {
    font-family: 'Baloo 2', cursive;
    font-size: 80px;
    color: chartreuse;
}


h2 {
    font-family: 'Baloo 2', cursive;
    font-size: 40px;
    color: chartreuse; 
}


p {
    font-family: 'Josefin Slab', serif;
    font-size: 22px;
    color: darkgreen;
}


a {

}


