body {

}

table {
border-spacing: 10px;
background-color: #eeeeee;
}

caption {
background-image: url(./Bilder/Picknick\ duk\ mönster.jpg) ;
font-size: 50px;
padding: 10px;
}

tr {
padding: 10px;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
    border:1px solid black;
    border-radius: 5px ;
    background-color: #ffffff;
    
}

image{

}