@import url('https://fonts.googleapis.com/css?family=Caveat|Permanent+Marker&display=swap');

body {
    background: #cacacacc url("https://images.unsplash.com/photo-1556767576-5ec41e3239ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1267&q=80");
}
.kontainer {
    width: 600px;
    padding: 10px 50px 30px 50px;
    margin: 50px auto;
    background: #c1c1c1;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px #00000093;
    color: #555;
    font-family: 'Permanent Marker', cursive;
}
h1, h2, h3, h4 {
    margin-top: 1em;
}
h5 {
    margin-bottom: 0;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
input, p {
    background: #e1f7ff;
    padding: 0.5em;
    min-height: 2em;
    border-radius: 3px;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    border: 2px solid #FFF;
}
p.total {
    background: #affdc3;
}
p.röd {
    background: #fdafaf;
}