/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {

}
form {
background: rgb(187, 211, 144);
margin: 100px auto;
width: 500px;
border-radius: 10px;
padding: 30px;
display: grid;
grid-template-columns: auto auto auto; 
}
form label {
    font-family: 'Cutive Mono', monospace;
}
form input {
    font-family: 'Libre Franklin', sans-serif;
    margin-bottom: 10px;
    padding: 5px;
    background: green;
    color: white;
    border: none;
    border-radius: 3px;
}
form button {
background: #296b2a;
color: white;
}
form button:hover {
    color: white;
}
form button:active {
    background: #ffffff;
    color: black;
}